*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.navcontainer{
   position: sticky;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(11, 25, 41);
   width: 100%;
   height: 50px;
}

img{
   width: 100px;
   height: 100px;
   margin-left: 20px;
}

.navbar{
   list-style: none;
   display: flex;
}

.navbar li a{
   text-decoration: none;
   color: aliceblue;
   padding: 17px;
   font-family: sans-serif;
   text-transform: uppercase;
}

.navbar li a:hover{
   background-color: rgb(255, 255, 255);
   color: black;
   transition: .3s;
}

.dropdown{
   list-style-type: none;
   display: none;
   position: absolute;
}
.dropdown li{
   margin: 25px 0px; 
  
}
.navbar li:hover .dropdown{
   background-color: rgb(11, 25, 41) ;
   display: block;
   margin: 16px 0px;
   text-align: center;
   padding: 8px;
}

.dropdown2{
   list-style-type: none;
   display: none;
   position: absolute;
}

.dropdown li:hover .dropdown2{
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: rgb(11, 25, 41) ;
   display: block;
   margin-left: 90%;
   text-align: center;
   
}

#tv{
   width: 100%; 
   padding: 20px 40px;  
}

.icons{
   display: flex;
   list-style: none;
   margin-right: 20px;
   align-items: center;
}

.icons li a{
   color: rgb(255, 255, 255);
   padding: 10px;
   margin: 10px;
   background-color: (25 25 37);
   border-radius: 50%; 
}

.icons li a:hover{
   color: rgb(0, 0, 0);
   background-color: white;
   transition: .2s;
}

.menubar{
   list-style-type: none;
   color: white;
   margin-right: 20px;
   font-size: 23px;
   display: none;
}
